UUID encoding is unclear

A UUID can be encoded in (at least) the following ways:
- RFC 4122 encoding
- Microsoft (.NET) encoding

This causes problems when exchanging UUID values between applications. E.g. an ORBAT Server implemented in Java uses RFC 4122 to publish UUID values in NETN-ORG. A CGF implemented in .NET will will create the unit (via NETN-Physical), using the Microsoft enncoding for the UUID value received from the ORBAT Server. A viewer implemented in Java receives the unit information (via NETN-Physical) and looks up the unit in the NETN-ORG data. The latter fails, because the UUID value is unknown.

If we want to exchange UUIDs between applications then it seems there are two ways:
- UUIDs are exchanged as a byte array and are encoded according to RFC 4122, section 4.1.2
- UUIDs are exchanged in text notation according to RFC 4122, section 3

In case 1 the (Microsoft based) application needs to add UUID byte swapping in the HLA-encoding/decoding processing.

Refs:
- https://tools.ietf.org/html/rfc4122
- https://ldapwiki.com/wiki/Universally%20Unique%20Identifier


I suggest UUIDs are exchanged as a byte array and are encoded according to RFC 4122, section 4.1.2 and updated documentation of the datatype to reflect this.

Suggested semantics for datatype description:

"UUIDs are exchanged as a byte array and are encoded according to RFC 4122, section 4.1.2 using 16 bytes. Also referred to as Variant 1 or RFC 4122/DCE 1.1 UUIDs.

For example, 00112233-4455-6677-8899-aabbccddeeff is encoded as the bytes 00 11 22 33 44 55 66 77 88 99 aa bb cc dd ee ff."

Example should be changed to a valid Variant 1, if it's used in a description.
As the variant field is \x66, it would mean MSB 0110 and that points to variant 0.

Semantics Changed to:

4122, section 4.1.2 using 16 bytes. Also referred to as Variant 1 or RFC 4122/DCE 1.1 UUIDs. 
 
For example, 00112233-4455-8877-6699-aabbccddeeff is encoded as the bytes 00 11 22 33 44 55 88 77 66 99 aa bb cc dd ee ff.